* {
  box-sizing: border-box;

}

html {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  color:black;
  padding: 0px em(20px) ;


  
}

body {
  margin: 0;
  min-height:100vh;
  padding: 0;


}


// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p {
//   margin: 0;
//   font-weight: normal;
//   padding: 0;
//   display: flex;
// }

a {
  text-decoration: none;
  color:black;



}





